body {
    background-color: #303c1a;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 600pv;
    overflow: hidden;
}

html {
    height: 100%;
    overflow: hidden;
}

canvas {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: darkolivegreen;
    margin: auto;
    display: block;
}

.rectangle {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    min-height: 500px;
    min-width: 300px;
    max-width: 700px;
    background-color: darkolivegreen;
    margin: auto;
    display: block;
    max-height: 950px;
}

.img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(1 64 1 / 67%);
    font-size: 50px;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}

.btn2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(1 64 1 / 67%);
    font-size: 50px;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: black;
}
